name: cpp-cmake-mingw-prebuilt-release-actions-workflow
on:
  push:
    # # Sequence of patterns matched against refs/tags
    # tags:
    #   - 'v*' # Push events to matching v*, i.e. v1.0, v20.15.10
    #   - 'c*'
      
permissions:
    contents: write
    
jobs:
  build:
    name: Create Release
    runs-on: ubuntu-latest
    env:
      libraryName: crosstool-ng
      tagName: crosstool-ng-1.28.0
    steps:
      - uses: actions/checkout@v4
        with:
          repository: crosstool-ng/crosstool-ng
          path: ${{ env.libraryName }}
          ref: ${{ env.tagName }}
          submodules: true

      - shell: bash
        working-directory: ${{ env.libraryName }}
        run: |
          export PATH="/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin" && \
          ./bootstrap && \
          ./configure --help && \
          ./configure --enable-local --prefix=="$(pwd)/installation" && \
          make && \
          make install

      - shell: bash
        working-directory: ${{ env.libraryName }}
        run: |
          ctng list-samples && \
          ct-ng help
