name: cpp-cmake-mingw-prebuilt-release-actions-workflow
on:
  push:
    paths-ignore: "**/README.md"
    # # Sequence of patterns matched against refs/tags
    # tags:
    #   - 'v*' # Push events to matching v*, i.e. v1.0, v20.15.10
    #   - 'c*'
      
permissions:
    contents: write
    
jobs:
  build:
    name: Create Release
    runs-on: ubuntu-latest
    env:
      libraryName: crosstool-ng
      tagName: crosstool-ng-1.28.0
    steps:
      - uses: actions/checkout@v4
        with:
          repository: crosstool-ng/crosstool-ng
          path: ${{ env.libraryName }}
          ref: ${{ env.tagName }}
          
      - run: |
          sudo apt-get update && sudo apt-get install -y bison flex gperf help2man libtool-bin meson ninja-build texinfo

      - working-directory: ${{ env.libraryName }}
        run: |
          ./bootstrap
          ./configure --prefix="$PWD/installation/"
          make
          make install
          tar -cf ct-ng.tar ./installation/


      - run: sudo apt-get update && sudo apt-get install -y bison flex gperf help2man libtool-bin texinfo

      - run: echo "${{ env.libraryName }}/installation/bin" >> "$GITHUB_PATH"

      - run: |
          mkdir -p src
          for sample in aarch64-unknown-linux-gnu \
            arm-none-eabi \
            arm-unknown-linux-musleabi \
            armv6-nommu-linux-uclibcgnueabi \
            x86_64-w64-mingw32; do \
              ct-ng $sample; \
              sed -i -e '/CT_LOG_PROGRESS_BAR/s/y$/n/' .config; \
              sed -i -e '/CT_LOCAL_TARBALLS_DIR/s/HOME/CT_TOP_DIR/' .config; \
              sed -i -e '/CT_PREFIX_DIR/s/HOME/CT_TOP_DIR/' .config; \
              sed -i -e 's/^.*CT_COMP_TOOLS_BISON.*$/CT_COMP_TOOLS_BISON=y/' .config; \
              sed -i -e 's/^.*CT_COMP_TOOLS_M4.*$/CT_COMP_TOOLS_M4=y/' .config; \
              sed -i -e 's/^.*CT_COMP_TOOLS_MAKE.*$/CT_COMP_TOOLS_MAKE=y/' .config; \
              sed -i -e 's/^.*CT_DOWNLOAD_WGET_OPTIONS.*$/CT_DOWNLOAD_WGET_OPTIONS="--tries=3 -nc --progress=dot:binary --no-use-server-timestamps"/' .config; \
              ct-ng olddefconfig; \
              ct-ng source; \
              ls
          done
